<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>✧･{% if page.title and page.notitle != true %}{{ page.title }} ─ {% endif %}maria･✧</title>
<meta name="theme-color" content="#224042">
<meta name="description" content="maria · web developer from the uk">
<meta name="author" content="maria">
<meta property="og:site_name" content="maria.cafe 🌿">
<meta property="og:type" content="website">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}maria{% endif %}">
<meta property="og:image" content="{{ "/assets/images/leah.png" | absolute_url }}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<link rel="canonical" content="{{ page.url | absolute_url }}">
<link rel="webmention" href="https://webmention.io/maria.town/webmention" />
<link rel="pingback" href="https://webmention.io/maria.town/xmlrpc" />{% for script in page.scripts %}
<script src="{{ script | relative_url }}" type="text/javascript"></script>{% endfor %}
