<p><i class="emoji" aria-hidden="true">🧩</i> pages</p>
<ul>{% for p in site.pages %}{% if p.menu == "pages" %}
    <li{% if page.path == p.path or page.parent == p.path %} class="active"{% endif %}>
        {% if p.emoji %}<i class="emoji" aria-hidden="true">{{ p.emoji }}</i><!--
        -->{% endif %}<a href="{{ p.url }}">{{ p.title }}</a>
    </li>{% endif %}{% endfor %}
</ul>
<p><i class="emoji" aria-hidden="true">🍜</i> shrines</p>
<ul>{% for p in site.pages %}{% if p.menu == "shrines" %}
    <li{% if page.path == p.path or page.parent == p.path %} class="active"{% endif %}>
        {% if p.emoji %}<i class="emoji" aria-hidden="true">{{ p.emoji }}</i><!--
        -->{% endif %}<a href="{{ p.url }}">{{ p.title }}</a>
    </li>{% endif %}{% endfor %}
</ul>
<p><i class="emoji" aria-hidden="true">🌿</i> magic</p>
<ul>{% for p in site.pages %}{% if p.menu == "magic" %}
    <li{% if page.path == p.path or page.parent == p.path %} class="active"{% endif %}>
        {% if p.emoji %}<i class="emoji" aria-hidden="true">{{ p.emoji }}</i><!--
        -->{% endif %}<a href="{{ p.url }}">{{ p.title }}</a>
    </li>{% endif %}{% endfor %}
</ul>
<p><i class="emoji" aria-hidden="true">📗</i> journal</p>
<ul>{% for p in site.pages %}{% if p.menu == "journal" %}
    <li{% if page.path == p.path or page.parent == p.path %} class="active"{% endif %}>
        {% if p.emoji %}<i class="emoji" aria-hidden="true">{{ p.emoji }}</i><!--
        -->{% endif %}<a href="{{ p.url }}">{{ p.title }}</a>
    </li>{% endif %}{% endfor %}
</ul>
<p><i class="emoji" aria-hidden="true">✈️</i> meta</p>
<ul>{% for p in site.pages %}{% if p.menu == "meta" %}
    <li{% if page.path == p.path or page.parent == p.path %} class="active"{% endif %}>
        {% if p.emoji %}<i class="emoji" aria-hidden="true">{{ p.emoji }}</i><!--
        -->{% endif %}<a href="{{ p.url }}">{{ p.title }}</a>
    </li>{% endif %}{% endfor %}
</ul>