*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --font-body: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-md: 1.6rem;
    --font-sm: 1.4rem;
    --bg-body: #1f2d39;
    --bg-selection: #99708f;
    --fg-body: #ffffff;
    --fg-heading: #96d1a0;
    --fg-link: #83cece;
    --gradient-blurple-fallback: rgb(79,122,150);
    --gradient-blurple: linear-gradient(90deg, rgba(79,122,150,1) 0%, rgba(128,73,138,1) 100%);
    --width-body: 728px;
    --cursor: url('../cursors/pot.cur'), auto;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
    cursor: var(--cursor);
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

::selection {
    background: var(--bg-selection);
    color: var(--fg-body);
}

body {
    background: var(--bg-body);
    color: var(--fg-body);
    font-family: var(--font-body);
    font-size: var(--font-md);
    max-width: var(--width-body);
    margin-inline: auto;
    padding-block: 3rem;
    padding-inline: 1rem;
}

h1, h2, h3, h4 {
    color: var(--fg-heading);
}

a {
    color: var(--fg-link);
    cursor: var(--cursor);
    text-decoration: none;
    position: relative;
}

a[href^="http://"]:not([href^="http://maria.town"]):not(.noext)::after,
a[href^="https://"]:not([href^="https://maria.town"]):not(.noext)::after,
a[href^="//"]:not([href^="//maria.town"]):not(.noext)::after {
    content: "";
    display: inline-block;
    background: url('../images/icons/ext.svg') bottom right no-repeat;
    background-size: .875em;
    width: 1em;
    height: 1em;
}

a::before {
    content: "";
    width: 0;
    transition: width .2s ease-in-out;
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--gradient-blurple-fallback);
    background: var(--gradient-blurple);
}
    
a:hover::before,
a:focus::before {
    width: 100%;
}

.small {
    font-size: var(--font-sm);
}

td {
    padding: .25em .5em;
}

i.emoji + a {
    margin-left: .2em;
}

header .brand {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

header .brand a {
    font-weight: bold;
    background: var(--gradient-blurple-fallback);
    background: var(--gradient-blurple);
    color: white;
    border-radius: 3px;
    padding: 0 .35em;
}

header .brand a::before,
header .brand a::after {
    content: none !important;
}

header .brand img {
    border-radius: 50%;
    margin-bottom: .5em;
    filter: hue-rotate(320deg) saturate(80%);
    margin-right: .5em;
    margin-bottom: 0;
}